---
import HTML from "./icons/Html.astro";
import CSS from "./icons/Css.astro";
import JAVASCRIPT from "./icons/Javascript.astro";
import REACT from "./icons/React.astro";
import NODE from "./icons/Node.astro";
import EXPRESS from "./icons/Express.astro";
import MYSQL from "./icons/Mysql.astro";
import LinkButton from "./LinkButton.astro";
import Link from "./icons/Link.astro";
import GitHub from "./icons/GitHub.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    icon: HTML,
    class: "bg-[#003159] text-white",
  },
  CSS: {
    name: "CSS",
    icon: CSS,
    class: "bg-[#003159] text-white",
  },
  JAVASCRIPT: {
    name: "Javascript",
    icon: JAVASCRIPT,
    class: "bg-[#003159] text-white",
  },
  REACT: {
    name: "React",
    icon: REACT,
    class: "bg-[#003159] text-white",
  },
  NODE: {
    name: "Node.js",
    icon: NODE,
    class: "bg-[#003159] text-white",
  },
  EXPRESS: {
    name: "Express",
    icon: EXPRESS,
    class: "bg-[#003159] text-white",
  },
  MYSQL: {
    name: "MySQL",
    icon: MYSQL,
    class: "bg-[#003159] text-white",
  },
};
const PROJECTS = [
  {
    title: "Ifac App",
    description:
      "Actualmente en desarrollo, este proyecto es una aplicación web diseñada para la administración eficiente de facturas. Con un enfoque en la automatización de procesos y la simplificación de tareas administrativas",
    link: "https://ifac.vercel.app/",
    github: "https://github.com/No-Country/C17-O7-M-node-react",
    image: "../../public/img/projects/ifac.jpg",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.NODE, TAGS.EXPRESS, TAGS.MYSQL],
  },
  {
    title: "Homies App",
    description:
      "Proyecto en desarrollo: Una aplicación web dedicada a la venta de ropa que busca ofrecer una experiencia de compra intuitiva y atractiva. Con una interfaz amigable, estamos trabajando para brindar una experiencia de compra conveniente para los usuarios. ¡Estén atentos para más actualizaciones!",
    link: "#",
    github: "https://github.com/EnzoSz/Grupo_14_Tienda_Ropa",
    image: "../../public/img/projects/Homies.jpg",
    tags: [
      TAGS.JAVASCRIPT,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.NODE,
      TAGS.EXPRESS,
      TAGS.MYSQL,
    ],
  },
  {
    title: "Batatabit",
    description:
      "Landing page diseñada para una aplicación de divisas, que ofrece una experiencia visualmente atractiva y moderna para los visitantes",
    link: "https://enzosz.github.io/Mobile-First/",
    github: "https://github.com/EnzoSz/Mobile-First",
    image: "../../public/img/projects/Batatabit.jpg",
    tags: [TAGS.HTML, TAGS.CSS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
      <article class="flex flex-col space-x-0 space-y-8  group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row flex-wrap mb-2 gap-x-2">
              {tags.map((tag) => (
                <li class="mb-2">
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
